//
// Nautilus
//
.nautilus-window {
	&.view {
		background-color: $background;
	}

	.sidebar-pane,
	.content-pane {
		background-color: $background;
		color: $text;

		&:backdrop {
			background-color: $background;
			transition: none;
		}
	}

	.sidebar-pane {
		&:dir(ltr),
		&.end:dir(rtl) {
			&,
			banner > revealer > widget {
				box-shadow: none;
				border-right: none;
			}
		}

		&:dir(rtl),
		&.end:dir(ltr) {
			&,
			banner > revealer > widget {
				box-shadow: none;
				border-left: none;
			}
		}
	}

	placessidebar {
		> scrolledwindow {
			@extend %nautilus_sidebar_style;
		}
	}

	placesview {
		label {
			color: $text-secondary;
		}
	}

	flap > separator {
		background-color: transparent;
	}

	.nautilus-grid-view,
	.nautilus-list-view {
		@extend %nautilus_content_style;

		.view {
			background-color: transparent;
		}

		listview.view {
			> row.activatable {
				> cell {
					padding: 0;

					> widget#NautilusViewCell {
						//padding: $space-size / 2 $space-size * 1.5;
						padding: 0;
					}
				}

				&:nth-child(odd):not(:disabled) {
					background-image: image(gtkalpha(currentColor, 0.03));
				}
			}
		}

		scrolledwindow {
			@extend %round_undershoot;

			scrollbar {
				@extend %round_scrollbar;
			}
		}

		child.activatable {
			@extend %row_activatable;
		}

		gridview.view {
			margin: 10px 5px;
			padding: 10px 5px;
		}
	}

	.floating-bar {
		min-height: 32px;
		padding: 0;
		margin: $space-size;
		border-style: none;
		border-radius: $modal-radius;
		background-color: rgba($base, 0.95);
		color: $primary;
		box-shadow: $shadow-z3;

		button {
			margin: (32px - $small-size) / 2;
			color: on($primary);

			@extend %small-button;
		}
	}

	banner > revealer > widget {
		background-color: rgba($base, 0.4);
		color: on($base);
		border-radius: $modal-radius;
		margin: $modal-radius;

		button {
			background-color: rgba($primary, 0.3);
			color: on($primary);
			&:hover {
				background-color: rgba($primary, 0.6);
			}
		}
	}
}

#NautilusQueryEditor {
	// search entry
	> menubutton > button.image-button {
		min-width: 24px;
		min-height: 24px;
		padding: $space-size / 2;
		margin-right: $space-size / 2 - 8px;

		&:checked image {
			color: on($indicator);
		}
	}

	> text,
	> box,
	> menubutton {
		margin: $space-size / 2 0;
	}
}

#NautilusQueryEditorTag {
	background-color: $divider;

	> button.image-button {
		margin: 0;
		padding: 0;
	}
}

#NautilusPathBar {
	background-color: if($variant == 'light', $grey-100, $titlebar-fill);
	border-radius: $corner-radius;
	margin: $space-size 0;
}

#NautilusPathButton {
	margin: 0 $space-size / 2;
	border-radius: $corner-radius;
	@extend %button-flat;

	&.current-dir {
		color: $primary;

		&:hover,
		&:active {
			background: none;
			box-shadow: none;
		}
	}

	&:first-child {
		margin-left: 0;
	}
}

#NautilusViewCell {
	clamp box {
		margin: 0;
		padding: 0;
	}
}

#NautilusFileChooser gridview.view {
	background-color: transparent;
	margin: 10px 5px;
	padding: 10px 5px;
}

#NautilusFileChooser columnview.view,
row.activatable > cell {
	background-color: transparent;
	padding: 1px 10px;
}

#NautilusProgressIndicator popover label {
	color: $text-secondary;
}

#NautilusProgressIndicator popover image {
	color: $text-secondary;
}

/* Nautilus Progress Indicator */
windowhandle box.vertical box.toolbar {
	background-color: $background;
	border: none;
	outline: none;
}
windowhandle box.toolbar menubutton button.toggle {
	background-color: $background;
	border: none;
	outline: none;
}

window.dialog {
	> box > stack > box > box {
		> notebook.frame {
			border-width: 0 0 0 1px;
			border-radius: 0;
		}
	}
}

//
// Calculator
//

.display-container {
	&.card {
		background-color: $card;
	}

	.small &.card {
		border-radius: 0;
		box-shadow: none;
		border-width: 0 0 1px 0;
	}

	.history-view {
		background-color: transparent;
	}

	#displayitem {
		padding: 0 12px 8px 0;
		font-size: 1.4em;
		border-top: 1px solid $border;
	}
}

.math-buttons button {
	font-size: 1.1em;
	padding: 2px $space-size;

	&.text-button {
		padding-left: $space-size * 2 + 4px;
		padding-right: $space-size * 2 + 4px;
	}
}

leaflet {
	button.number-button {
		background-color: rgba($text, 0.1);

		&:hover {
			background-color: rgba($text, 0.2);
		}

		&:active {
			background-color: rgba($text, 0.3);
		}
	}
}

